services:
  - type: web
    name: song-generator
    env: docker
    plan: free
    region: singapore

    dockerfilePath: ./laravel_project/Dockerfile

    envVars:
      - key: APP_ENV
        value: production
      - key: APP_KEY
        sync: false
      - key: APP_DEBUG
        value: false
      - key: LOG_CHANNEL
        value: stderr
      - key: DB_CONNECTION
        value: sqlite
